.body {
  /* background-color: #fc3c74; */
}
.body h1 {
  color: azure;
  margin: 0 0 2rem 0;
  flex-basis: 100%;
  text-align: center;
}

/* SECTION 1 */
.section1 {
  padding-bottom: 4rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 5rem;
}
.text_s1 {
  width: 450px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
}
.text_s1 h1 {
  color: #000;
  margin: 0;
  text-align: start;
  font-size: 4.5rem;
  font-weight: bold;
}
.text_s1 p {
  width: 90%;
  margin: 0;
}
.text_s1 button {
  margin: 0;
}
.section1 figure {
  width: 650px;
  margin: 0;
}
.section1 figure img {
  width: 100%;
}

/* From uiverse.io by @satyamchaudharydev */
.button_s1 {
  text-decoration: none;
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.arrowWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.button_s1:hover {
  background-color: var(--hover-color);
  color: #fff;
}

.button_s1:hover .arrow {
  background: var(--secondary-color);
}

.button_s1:hover .arrow:before {
  right: 0;
}

/* SECTION 2 */
.section2 {
  height: 700px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
/* MAP */
.map {
  width: 700px;
  height: 500px;
}
/* INFO */
.info {
  color: rgb(0, 0, 0);
  width: 350px;
  padding: 0rem;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

/* SECTION 3 */
.section3 {
  height: 700px;
  padding: 6rem 0 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.section3 figure {
  width: 650px;
  margin: 0;
}
.section3 figure img {
  width: 100%;
}
/* FORM */
.contact_form {
  background-color: #ffffff;
  flex-basis: 505px;
  padding: 1.5em;
  border-radius: 25px;
  display: flex;
}
