.footer {
  flex-basis: 100%;
  display: flex;
  margin-top: 3rem;
  padding: 2rem 0;
  border-top: 2px solid #b80000;
  justify-content: center;
  align-items: center;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  /* background-color: green; */
}
.webapp {
  /* background: white; */
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
