.form {
  color: rgb(0, 0, 0);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-basis: 100%;
  gap: 0.5rem;
}
.form div input,
.form div textarea,
.form button {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  resize: none;
}
.form button {
  background: #000;
  color: #fff;
  border: 0;
  padding: 1em;
}
.form button:hover,
.form button:focus {
  /* transition: background-color 1s ease-out; */
  outline: 0;
}
.form button:active {
  background: #FC3C74;
  transform: scale(0.95);
  transition: all 0.5s ease 0s;
} 

.name {
  flex-basis: 13rem;
}
.email {
  flex-basis: 13rem;
}
.phone {
  flex-basis: 10rem;
}
.affair {
  flex-basis: 16rem;
}
.message {
  flex-basis: 100%;
}
