.body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );

  padding: 1rem 0;
}
.section1 {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}
.section1 h1 {
  background-color: aliceblue;
  width: 90%;
  text-align: center;
}
/* ARTICLE 1 */
.article1_s1 {
  background-color: blueviolet;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  flex-basis: 90%;
  gap: 1rem;
}
.text1_a1_s1 {
  background-color: red;
  flex-basis: 450px;
}
.article1_s1 figure {
  background-color: blue;
  margin: 0;
  flex-basis: 600px;
}
.article1_s1 figure img {
  width: 100%;
}
/* ARTICLE 2 */
.article2_s1 {
  background-color: blueviolet;
  padding: 1rem;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
  align-items: center;
  flex-basis: 90%;
  gap: 1rem;
}
.text1_a2_s1 {
  background-color: red;
  flex-basis: 450px;
}
.article2_s1 figure {
  background-color: blue;
  margin: 0;
  flex-basis: 600px;
}
.article2_s1 figure img {
  width: 100%;
}
/* SECTION 2 */
