/* CONTACT INFO */
  .contact_item {
  }
  .contact_item i {
      padding-right: 5px;
  }
  .contact_item a {
    color: #000;
    text-decoration: none;
  }
  .contact_item a:hover {
    color: rgb(0, 136, 255);
  }