.body {
  background-color: rgb(124, 209, 162);
  padding: 0 25px;
}
.products {
  /* background-color: rgb(31, 29, 29); */
  padding: 25px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 2rem;
}
.products h1 {
    background-color: white;
    width: 100%;
    text-align: center;
}
.card {
  background-color: whitesmoke;
  width: 350px;
  margin: 0 15px;
  border-radius: 15px;
  display: flex;
  flex-flow: row wrap;
}
.card_image {

  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
}
.card_image1 {
    background-image: url(/example.jpg);
    background-size: cover;
    width: 100%;
    height: 230px;
    margin-bottom: 15px;
    border-radius: 15px 15px 0 0;
}
.card_image2 {
    background-image: url(/example.jpg);
    background-size: cover;
    width: 100%;
    height: 230px;
    margin-bottom: 15px;
    border-radius: 15px 15px 0 0;
}
.card_image3 {
    background-image: url(/example.jpg);
    background-size: cover;
    width: 100%;
    height: 230px;
    margin-bottom: 15px;
    border-radius: 15px 15px 0 0;
}
.card h3 {
  text-align: center;
  width: 100%;
  overflow-wrap: break-word;
}
.card a {
  background-color: blue;
  margin: 15px;
  padding: 15px 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  flex-basis: 100%;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.295);
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.5s ease;
}
