.product {
  background-color: #ffffff;
  color: rgb(255, 255, 255);
  border-radius: 55px;
  display: flex;
  align-items: center;
}
.name {
  color: black;
  margin: 0 5px 0 5px;
}
.button {
  background-color: rgba(0, 0, 0, 0);
  color: red;
  padding: 0 5px 0 0;
  border: 0;
}
