.productForm {
  background-color: rgba(255, 255, 255, 0.39);
  box-shadow: 0 0 20px 0 rgb(255, 255, 255, 0.3);
  height: 615px;
  width: 25rem;
  padding: 15px;
  position: fixed;
  right: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
.productForm h3 {
  color: rgb(0, 0, 0);
  text-align: center;
  flex-basis: auto;
}
.form {
  color: rgb(0, 0, 0);
  padding: 10px;
  position: absolute;
  top: 3.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
.form div input,
.form div textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #ffff;
  border-bottom: 1px solid #d63031;
}
.send {
  background: #b70e21;
  color: #ffff;
  width: 80%;
  border: 0;
  padding: 1em;
  border-radius: 15px;
  position: absolute;
  bottom: 1rem;
}
.send:hover,
.send:focus {
  background: #f3384e;
  transition: background-color 1s ease-out;
  outline: 0;
}

.name {
  flex-basis: 13em;
}
.phone {
  flex-basis: 9.5em;
}
.email {
  padding: 0;
  margin: 0;
  flex-basis: 100%;
}
.message {
  flex-basis: 100%;
}
.products {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
  gap: 0.5rem;
}
.products label {
}

.input {
  display: none;
}
